[core]
	editor = \"C:\\Users\\alber_mebtgkr\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
[user]
	name = albertbarkovski
	email = albertas.barkovski@gmail.com
[safe]
	directory = C:/Users/alber_mebtgkr/Desktop/.html/website
	directory = C:/Users/alber_mebtgkr/Desktop/.html/website
