body {
  background: rgba(19, 20, 23, 1);
  padding: 106px 66px;
}

.blokas-wrapper {
  width: 675px;
  margin: 0 auto;
}

.blokas {
  background: rgba(34, 34, 37, 0.7);
  border-radius: 12px;
  padding: 65px 72px;
  margin: 0;
  margin: 0 auto;
  position: relative;
}

.blokas .pirmas {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0.42px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 17px;
}

.blokas .antras {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 17px;
}

.blokas .btn {
  align-items: center;
  padding: 8px 16px;
  border: 2px solid#f17965;
  border-radius: 12px;
  background: none;
  color: #f17965;
  transition: all 0.3s ease;
}

.blokas .btn:hover {
  background: #f17965;
  color: white;
  cursor: pointer;
}

.blokas .garsekalbis {
  position: absolute;
  left: -70px;
  top: -120px;
  rotate: -20px;
}

.blokas .logo {
  position: absolute;
  bottom: -40px;
  right: -40px;
}
