html,
body {
  padding: 0;
  margin: 0;
}

section {
  background: rgba(226, 225, 225, 1);
  width: 796px;
  height: 355px;
  margin: 300px auto;
  padding: auto;
  position: relative;
}
div {
  margin: auto;
  width: 476px;
  height: 128px;
  position: relative;
  top: 110px;
}
span {
  position: relative;
  left: 200px;
  font-family: "Inter";
  font-size: 20px;
  color: #959393;
}

h1 {
  font-family: "Inter";
  font-weight: 700;
  font-size: 128px;
  line-height: 100%;
  color: #121212;
  margin: 0;
  position: relative;
  bottom: 30px;
}

svg {
  position: absolute;
  right: 15px;
  bottom: 0;
}

p {
  position: absolute;
  bottom: 72px;
  left: 247px;
  font-family: "Inter";
  font-size: 20px;
  letter-spacing: 0.2px;
  color: #373636;
}
