#pirmas p,
#pirmas a {
  font-size: 2em;
}

#pirmas p mark:hover {
  position: relative;
  bottom: 10px;
}

#pirmas a:hover {
  position: relative;
  left: 20px;
}

#virsus-blokas {
  background-color: red;
  padding: 5px;
  position: fixed;
  bottom: 2em;
  right: 2em;
  margin: 0;
  border: 3px solid black;
}

#virsus-blokas a {
  color: aliceblue;
  text-decoration: none;
}

html,
#antras {
  margin: 0;
  padding: 0;
}
