body {
  margin: 0;
  padding: 0;
  background-color: rgba(43, 43, 43, 1);
  width: 100%;
  height: 100vh;
}

.navbar-nav {
  align-items: center;
}

.navbar-toggler {
  border: 0;
}

.navbar-nav a {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  padding: 0 20px;
}

.navbar-nav button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 152px;
  height: 60px;
  background: #a259ff;
  border-radius: 20px;
  border: 0;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
}

#pirmas {
  margin: 80px auto;
}

#pirmas .col div:first-child {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 51px;
  line-height: 110%;
  color: #ffffff;
}

#pirmas .col div:nth-child(2) {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  color: #ffffff;
  margin: 10px 0 30px;
}

#pirmas .col input {
  width: 100%;
  height: 60px;
  border: 1px solid #3b3b3b;
  border-radius: 20px;
  background-color: unset;
  padding: 0 45px;
}

.pilkas {
  background-color: rgba(59, 59, 59, 1);
}

#antras {
  padding: 80px 0;
}

#antras .img-discription {
  width: 330px;
  min-width: 260px;
  background: #2b2b2b;
  border-radius: 0 0 20px 20px;
  padding: 20px 30px;
}

#antras .name .img-name {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  text-transform: capitalize;
  color: #ffffff;
}
#antras .creator {
  display: flex;
  flex-direction: row;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  gap: 12px;
  margin-top: 5px;
}

#antras .value {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 25px;
}

#antras .value .bid {
  text-align: end;
}

#antras .value .price div:first-child,
#antras .value .bid div:first-child {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  color: #858584;
}

#antras .value .price div:last-child,
#antras .value .bid div:last-child {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: right;
  color: #ffffff;
}

.footer {
  margin: 50px auto;
}

.footer .stulpelis-2 div:first-child,
.footer .stulpelis-3 div:first-child {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 160%;
  text-transform: capitalize;
  color: #ffffff;
}

.footer .row:first-child .stulpelis-1 div,
.footer .row:first-child ul a,
.footer .row:first-child .stulpelis-3 div:nth-child(2),
.footer .row:last-child div,
.footer hr {
  width: 100%;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #cccccc;
  text-decoration: none;
}

.footer .row:first-child ul {
  list-style: none;
  padding: 0;
}
.footer .row:first-child .stulpelis-3 form {
  display: flex;
  background: #ffffff;
  border-radius: 20px;
  height: 60px;
  max-width: 420px;
}

.footer .row:first-child .stulpelis-3 form input:first-child {
  width: 60%;
  background: #ffffff;
  border-radius: 20px;
  border: 0;
  padding: 19px;
  text-align: center;
}

.footer .row:first-child .stulpelis-3 form input:last-child {
  width: 40%;
  background: #a259ff;
  border-radius: 20px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
  border: 0;
  padding: 19px;
}

.footer .row:last-child .col-12 div {
  padding-bottom: 40px;
}

.footer .row:first-child .stulpelis-1 div:nth-child(2) {
  margin: 30px 0 20px;
}

.footer .row:first-child .stulpelis-1 div:nth-child(4) {
  margin: 30px 0 0;
}

.footer .row:first-child .stulpelis-2 ul {
  margin: 25px 0 0;
}
.footer .row:first-child .stulpelis-2 ul li {
  margin: 20px 0 0;
}

.footer .row:first-child .stulpelis-3 div:nth-child(2) {
  margin: 30px 0 20px;
}

@media screen and (min-width: 992px) {
  .footer .row:first-child .stulpelis-1 div {
    max-width: 238px;
  }
}

@media screen and (max-width: 767px) {
  .footer .row:first-child .stulpelis-3 form {
    flex-direction: column;
    gap: 20px;
    max-width: 100%;
  }

  .footer .row:first-child .stulpelis-3 form input:first-child {
    width: 100%;
    padding: 19px;
  }

  .footer .row:first-child .stulpelis-3 form input:last-child {
    width: 100%;
  }

  .footer hr {
    margin-top: 100px;
  }
}
