.navbar-collapse:not(.show) {
  height: 80px;
}

.navbar-nav .nav-link.active {
  color: rgba(67, 196, 95, 1);
  font-weight: bold;
}

.navbar-nav {
  gap: 53px;
}

.hero {
  background: url(../images/image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.hero .row {
  height: 800px;
}

.hero h1 {
  color: white;
}

.hero p {
  color: rgba(213, 215, 216, 1);
  font-size: 26px;
  margin: 33px 0 49px;
}

.hero button {
  width: 191px;
  height: 47px;
  background: #43c45f;
  border-radius: 5px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  border: 0;
}

.pagr {
  padding: 130px 0;
}

.paslaugos h3 {
  margin: 18px 0 10px;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #404445;
}

.paslaugos p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #5f6b81;
}

.img svg {
  width: 100%;
}

.medija,
.galerija {
  background: rgba(241, 248, 255, 1);
  padding: 112px 24px;
}

.medija h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: #404445;
}

.medija p {
  max-width: 650px;
  width: 100%;
  margin: 25px auto 54px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #5f6b81;
}

.medija iframe {
  max-width: 800px;
  width: 100%;
  height: 450px;
}

.statistika {
  padding: 112px 24px;
}

.statistika .pirmas h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 127.19%;
  color: #404445;
}

.statistika .pirmas p {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 127.19%;
  margin: 28px 0 50px;
  color: #404445;
  max-width: 670px;
  width: 100%;
}

.statistika .antras {
  padding-top: 50px;
}

.statistika .antras .kortele h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 127.19%;
  color: #404445;
  margin: 20px 0 10px;
}

.statistika .antras .kortele span {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 127.19%;
  color: #5f6b81;
}

.galerija .pirmas h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #404445;
}

.galerija .pirmas p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin: 25px auto 69px;
  color: #5f6b81;
  max-width: 650px;
  width: 100%;
}

.galerija .antras {
  margin: 0 auto;
}

.galerija .antras .kortele {
  gap: 24px;
  max-width: 424px;
}

.galerija .antras .kortele svg {
  max-width: 400px;
  width: 100%;
}

.galerija .antras .kortele h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #404445;
  margin: 33px 0 18px;
}

.galerija .antras .kortele p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  max-width: 424px;
  width: 100%;
  color: #5f6b81;
}

.prenumerata {
  background: rgba(95, 107, 129, 1);
  padding: 112px 16px 138px;
}

.prenumerata h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #ffffff;
}

.prenumerata p {
  width: 100%;
  max-width: 650px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  margin: 25px auto 60px;
}

.prenumerata .input-group {
  max-width: 540px;
  width: 100%;
  height: 63px;
  margin: 0 auto;
}

.prenumerata .input-group input::placeholder {
  color: rgba(216, 216, 216, 1);
}

.prenumerata .input-group button {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  background: #43c45f;
  border-radius: 0px 5px 5px 0px;
  padding: 0 35px;
}

.komanda {
  padding: 112px 24px;
}

.komanda .pirmas h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #404445;
}

.komanda .pirmas p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #5f6b81;
  max-width: 650px;
  width: 100%;
  margin: 25px auto 70px;
}

.komanda .antras .kortele {
  max-width: 350px;
  width: 100%;
  background-color: rgba(238, 238, 238, 1);
}

.komanda .antras svg {
  max-width: 348px;
  width: 100%;
}

.komanda .antras h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #404445;
  margin: 25px auto 6px;
}

.komanda .antras h5 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #5f6b81;
}

.susisiekti {
  padding: 112px 16px;
}

.susisiekti h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  color: #404445;
}

.susisiekti p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #5f6b81;
  width: 100%;
  max-width: 650px;
  margin: 25px auto 40px;
}
.susisiekti button {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  background: #43c45f;
  height: 47px;
  width: 190px;
  border: 0;
}

.footer {
  padding: 70px 24px;
  background: rgba(47, 50, 59, 1);
}
