body {
  margin: 0;
  padding: 0;
  background-color: rgb(202, 225, 225);
}
.content {
  display: flex;
  justify-content: center;
  padding: 20px;
  border: 5px solid;
  border-radius: 20px;
  align-items: center;
  text-align: center;
  background-color: white;
}
#duomenis {
  width: 50%;
}
#atsakymai {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 100%;
  background-color: rgb(202, 225, 225);

  border-radius: 20px;
}

#pirmas,
#antras {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
