body {
  background-color: pink;
}

body > div {
  background-color: white;
  margin: 5em;
  padding: 2em;
}

#tryliktas .parametrai {
  display: flex;
  margin-bottom: 2em;
}
#tryliktas .parametrai .parametras {
  width: 20Į;
  padding: 5px 10px;
}
#tryliktas #div-keitimui {
  width: 100px;
  height: 100px;
  background-color: burlywood;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 100%;
}
textarea {
  width: 100%;
}
#keturioliktas textarea {
  background-color: #ececec;
  border: 1px solid #bebebe;
}

#sesioliktas .skirtukas {
  border: 1px dotted grey;
  padding: 1em;
}
#sesioliktas .skirtukas#antras-skirtukas {
  display: none;
}
#septinioliktas #perjungti-tekstas {
  display: none;
}
#astuonioliktas #kitas-perjungti-tekstas {
  display: none;
}

#paragrafas-19:hover {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}
